div.key
{
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  background-color: gray;
  display: inline-block;
}

div.option:nth-child(2n)
{
  width: 100%;
  background-color: rgb(245,245,245);
}

div.option:nth-child(2n+1)
{
  width: 100%;
  background-color: rgb(205,205,205);
}

div.target
{
  color: red;
  display: inline-block;
}

div.needle
{
  color: green;
  display: inline-block;
}

TD.step
{
  color: red;
  font-weight: bold;
}

r
{
  color: red;
}

.button
{
  position: relative;
  width: 100%;
  color: #FFF;
  text-decoration: none;
  background-color: green;
  font-weight: 900;
  font-size: 2em;
  padding: 5px;
  /*width: 134px;*/
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-color: green;
  border-width: 2px;
}

.button2
{
  position: relative;
  width: 33%;
  color: #FFF;
  text-decoration: none;
  background-color: green;
  font-weight: 900;
  font-size: 2em;
  padding: 5px;
  /*width: 134px;*/
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-color: green;
  border-width: 2px;
}