# Configuration file

####################
# block
####################

block {
    I:BUDBlockId=719
    I:angelBlock=720
    I:chandelierId=721
    I:cobblestoneComprId=722
    I:colorBlockBrickId=723
    I:colorBlockDataId=724
    I:coloredWoodId=725
    I:conveyorId=726
    I:cursedEarth=727
    I:curtainId=728
    I:decorative_1Id=729
    I:decorative_2Id=730
    I:drumId=731
    I:enderLilyId=732
    I:enderThermicPumpId=733
    I:etherealBlockId=734
    I:filingCabinetId=735
    I:greenScreen=736
    I:magnumTorchId=737
    I:peacefultableId=738
    I:portal=739
    I:soundMufflerId=740
    I:spikeId=741
    I:timerBlockId=742
    I:tradingPost=743
    I:transferNodeId=744
    I:transferPipeId=745
    I:trashCan=746
}


####################
# client_options
####################

client_options {
    B:disablePortalAnimation=false
}


####################
# item
####################

item {
    I:buildersWandId=5206
    I:creativeBuildersWandId=5207
    I:destructionPickaxe=5208
    I:divisionSigilId=5209
    I:erosionShovel=5210
    I:ethericSword=5211
    I:goldenBagId=5212
    I:goldenLassoId=5213
    I:healingAxe=5214
    I:paintBrush=5215
    I:scannerId=5216
    I:sonarGogglesId=5217
    I:temporalHoe=5218
    I:unstableIngotId=5219
    I:upgradeNodeId=5220
    I:wateringCanId=5221
}


####################
# options
####################

options {
    B:allNonNanillaDimensionsValidForEnderPump=false
    I:deepDarkDimensionID=-100
    B:unstableIngotsExplode=true
    I:validDimensionsForEnderPump <
        -1
     >
}


####################
# recipes
####################

recipes {
    B:disableAdvBUDBlockRecipe=false
    B:disableAdvFilingCabinet=false
    B:disableAngelBlockRecipe=false
    B:disableBUDBlockRecipe=false
    B:disableBuildersWandRecipe=false
    B:disableChandelierRecipe=false
    B:disableColoredBricksRecipe=false
    B:disableColoredWoodPlanksRecipe=false
    B:disableCompressedCobblestoneRecipe=false
    B:disableConveyorRecipe=false
    B:disableCurtainRecipe=false
    B:disableDestructionPickaxeRecipe=false
    B:disableDivisionSiginInChests=false
    B:disableDrumRecipe=false
    B:disableEnderLiliesInDungeons=false
    B:disableEnderThermicPumpRecipe=false
    B:disableErosionShovelRecipe=false
    B:disableEtherealGlassRecipe=false
    B:disableEthericSwordRecipe=false
    B:disableFilingCabinet=false
    B:disableFilterPipeRecipe=false
    B:disableFilterRecipe=false
    B:disableGoldenBagRecipe=false
    B:disableGoldenLassoRecipe=false
    B:disableHealingAxeRecipe=false
    B:disableMagnumTorchRecipe=false
    B:disableNodeUpgradeSpeedRecipe=false
    B:disableObsidianRecipe=false
    B:disablePaintbrushRecipe=false
    B:disablePeacefulTableRecipe=false
    B:disablePeacefulWitherRecipe=false
    B:disableRainMufflerRecipe=false
    B:disableRationingPipeRecipe=false
    B:disableRedstoneClockRecipe=false
    B:disableReversingHoeRecipe=false
    B:disableSonarGogglesRecipe=false
    B:disableSortingPipeRecipe=false
    B:disableSoundMufflerRecipe=false
    B:disableSpikeRecipe=false
    B:disableTradingPostRecipe=false
    B:disableTransferNodeEnergyRecipe=false
    B:disableTransferNodeLiquidRecipe=false
    B:disableTransferNodeRecipe=false
    B:disableTransferPipeRecipe=false
    B:disableTrashCanRecipe=false
    B:disableUnstableIngotRecipe=false
    B:disableWateringCanRecipe=false
}


